<div class="section-main">
    <div class="section-main-contact">
        <form id="contactform" action="https://formsubmit.io/send/7fad047a-ff56-43d5-8d80-d9828d0865bd" method="POST">
            <label for="email">write me an email</label>
            <input name="_redirect" type="hidden" id="name" value="https://kubaglowczynski.netlify.app/thanks">
            <div>
            <input name="email" type="email" id="email" placeholder="Type your email" onfocus="this.placeholder=''" onblur="this.placeholder='Type your email'">
            <input type="text" name="title" id="title" placeholder="Type a subject" onfocus="this.placeholder=''" onblur="this.placeholder='Type a subject'" autocomplete="nope">
            </div>
            <textarea name="comment" id="comment" rows="3" placeholder="Type your message" onfocus="this.placeholder=''" onblur="this.placeholder='Type your message'" autocomplete="nope"></textarea>
            <input value="Send" type="submit" id="submit">
            <input name="_formsubmit_id" type="text" style="display:none">
        </form>
    </div>
</div>