.section-main-home {
    background: rgb(223, 224, 226);
    background: linear-gradient(180deg, rgba(223, 224, 226, 1) 20%, rgba(255, 255, 255, 1) 55%, rgba(223, 224, 226, 1) 85%);

    animation: display 0.3s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;

    width: 90%;
    height: 80%;
    padding: 5%;

    @media only screen and (max-width: 600px) {
        font-size: 1rem;
        flex-direction: column;
        padding: 10px;
        background: transparent;
    }
}

.home-info {
    width: 60%;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }

    p {
        font-weight: 600;
    }

    i {
        font-size: 2rem;
        margin: 0 10px;

        @media only screen and (max-width: 600px) {
            font-size: 1.2rem;
        }
    }

    span {
        @media only screen and (max-width: 600px) {
            display: none;
        }
    }
}

#photo {
    width: 200px;
    height: 300px;
    background-image: url("https://pbs.twimg.com/media/F-L6f0eWUAAdwsf?format=jpg&name=medium");
    background-size: cover;
    border-radius: 15px 30px 45px;
    box-shadow: 0 10px 10px gray;
    transition: 0.3s ease-in-out;

    position: relative;
    float: right;
    margin: 5%;

    &:hover {
        background-image: url("https://pbs.twimg.com/media/Fs55X3UX0AEH5MD?format=png&name=small");
        background-size: cover;
        background-position: center;
    }

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}