<div class="section-main-home">
    <div class="home-info">
        <h1>Junior Front-end developer</h1>
        <p>Hi! I'm Kuba Główczyński</p>
        <p>A passionate Junior Front-end developer based in Poznan, Poland 🏡</p>
        <p>also graduate in economics and student of management with focus on trade and marketing 📚</p>
        <span>Tech stack:</span>
        <i class="devicon-html5-plain colored"></i>
        <i class="devicon-css3-plain colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-csharp-plain colored"></i>
        <i class="devicon-angularjs-plain colored"></i>
        <i class="devicon-git-plain colored"></i>
    </div>
    <div id="photo"></div>
</div>