
<div class="section-main-projects">
  <div class="project">
      <div class="project-info">
      <div>
          <h1>RAFT</h1>
          <h4>July 2022</h4>
          <p>In fact, I got interested in programming thanks to a magazine about the Unity engine. I decided to give it a try. RAFT was the first major project I created with this engine, and the project was added in the official <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Kopfdev.RAFT">Google Play Store</a>. The game is very simple, but I had a lot of fun working on it for months.</p>
          <i class="devicon-unity-original-wordmark colored"></i>
          <i class="devicon-androidstudio-plain-wordmark colored"></i>
          <i class="devicon-csharp-plain colored"></i>
      </div>
      <img src="https://pbs.twimg.com/media/FsvFRObX0AM1dGy?format=jpg&name=large" alt="project photo">
      </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>Mundial Quiz 2022</h1>
        <h4>August 2022</h4>
        <p>Next project, also created on the Unity engine, was a quiz about the World Cup in 2022. The quiz was created based on some tutorials on youtube. It had only the Polish language version and was a casual quiz added to the <a target="_blank" href="https://play.google.com/store/apps/details?id=com.KOPFdev.MundialQuiz2022">Google Play Store</a> as a knowledge test before the upcoming World Cup.</p>
        <i class="devicon-unity-original-wordmark colored"></i>
        <i class="devicon-androidstudio-plain-wordmark colored"></i>
        <i class="devicon-csharp-plain colored"></i>
      </div>
      <img src="https://pbs.twimg.com/media/Fs3LeI1WcAEw2CA?format=png&name=900x900" alt="project photo">
      </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>KINOPLUS+</h1>
        <h4>October 2022</h4>
        <p>The page you can also see on the left (yes, this is a photo taken by me). It was a very emotional project for me, because I was a cinema employee and started my adventure with front-end development, so I decided to create <a target="_blank" href="https://kubaglowczynski.github.io/Strona_kina/" >a website</a> template for an imaginary cinema using only HTML and CSS.</p>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>  
      </div>
      <img src="https://pbs.twimg.com/media/Fs28Q16WYAAJo9X?format=jpg&name=large" alt="project photo">
    </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>FILMs</h1>
        <h4>December 2022</h4>
        <p>FILMs is <a target="_blank" href="https://kubaglowczynski.github.io/FILMs/" >a VOD website</a> template. I made this project while learning javascript with tutorial on udemy.com. It used the free API of the site "randomuser.me". The idea for this type of project was born during Christmas when I watching TV with the family.</p>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>  
      </div>
      <img src="https://pbs.twimg.com/media/Fs282v3WIAERWnN?format=jpg&name=large" alt="project photo">
    </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>ToDoApp to learning Sass</h1>
        <h4>January 2023</h4>
        <p>Next step was learning SASS, I bought a fantastic book about this preprocessor called "Sass Nowoczesne arkusze stylów" by Bartosz Chucherko. I decided to create a simple <a target="_blank" href="https://kubaglowczynski.github.io/ToDoApp/">"To Do"</a>  project like every novice programmer. I used knowledge about Sass from book and LocalStorage.</p>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-javascript-plain colored"></i>  
      </div>
      <img src="https://pbs.twimg.com/media/Fs29nEtWwAEWH9h?format=jpg&name=large" alt="project photo">
    </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>QuickNoteApp</h1>
        <h4>February 2023</h4>
        <p> <a target="_blank" href="https://kubaglowczynski.github.io/QuickNoteApp/">QuickNoteApp</a> is another project to practice styling with Sass, using HTML DOM and LocalStorage. I also made a lot of projects (WeatherApp, Calculator, Url shortener etc.) from various tutorials like every newbie programmers, but this one here was my an original idea.</p>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <i class="devicon-javascript-plain colored"></i>  
      </div>
      <img src="https://pbs.twimg.com/media/Fs2-sumWYAAwo8u?format=png&name=large" alt="project photo">
    </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>Just button</h1>
        <h4>February 2023</h4>
        <p>Finishing a course about html/css/js on unity.com, I decided to play with my knowledge on several projects, one of them was <a target="_blank" href="https://justbutton.netlify.app/" >JustButton</a>.</p>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>  
      </div>
      <img src="https://pbs.twimg.com/media/Fs3HBvUXgAAjIBH?format=png&name=900x900" alt="project photo">
    </div>
  </div>
</div>

<div class="section-main-projects">
  <div class="project">
    <div class="project-info">
      <div>
        <h1>This page here!</h1>
        <h4>April 2023</h4>
        <p style="padding-right: 20px;">After learning html css js etc. it's time for angular. The current website was built in this framework and I am convinced that this is not the last project here.</p>
        <i class="devicon-angularjs-plain colored"></i>
      </div>
    </div>
  </div>
</div>