.section-main-projects{
    color: #252525;
    padding: 10px;
    font-family: 'Merriweather', serif;
    animation: fadein 0.3s ease-in;
    @media only screen and (max-width: 600px) {
        padding: 5px;
    }
    .colored{
        margin: 10px;
        box-shadow: 0 0 5px gray;
        padding: 3px 10px;
        font-size: 2.5rem;
        border-radius: 5px;
        background-color: #fff;
        @media only screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }
}
.project{
    border: 1px solid gray;
    padding: 10px;
    width: 811px;
    @media only screen and (max-width: 600px) {
        width: 240px;
        height: 140px;
        padding: 5px;
    }
    img{
        width: 320px;
        height: 200px;
        margin-left: 20px;
        box-shadow: 0 0 10px gray;
        @media only screen and (max-width: 600px) {
            width: 60px;
            height: 40px;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .project-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Merriweather', serif;
        width: 100%;
        p{
            margin-bottom: 20px;
        }
        h1{
            margin: 0;
        }
        @media only screen and (max-width: 600px) {
            font-size: 0.4rem;
        }
    }
}
@keyframes fadein {
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
}