.main {
    font-family: 'Merriweather', serif;
    height: 100%;
    animation: display 0.3s ease-in;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        @media only screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }
}

button {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: darken(#fff, 5%);
    height: 40px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: darken(#fff, 15%);
        transition: 0.3s ease-in-out;
    }
}

@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}